@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;


}
.logo{
    margin-bottom: 20px;
}


.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;

}

.row{
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.col-4{
    width: 33.3333%;
    padding: 0 15px;
}

.col-5{
    width: 46.9%;
    margin-bottom: 10px;
}
.item-col{
    width: 20%;
    padding: 0 15px;
}

.element-item{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;


}
.element-item li{
    list-style: none;
}
.element-img{
    max-width: 150px;

}


.element-desc{
    margin-left: 20px;
    text-decoration: none;
    text-transform: none;


}

.element-title{
    margin-left: 10px;
    text-align: center;

}
.element-caption {
    text-align: center;

    color: black;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
    text-decoration: none;
    list-style-type: none;
    background-color: silver;

}


.category-item{
    position: relative;
}

.category-desc{
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    position: absolute;
    left: 80px;
    bottom: 30px;

}
.category-desc span{
    color: #ea6d6d;
}
.pagination-btn{
    color: white;
    background-color: #dec666;
    padding: 5px;
    border-radius: 2px;
    border: none;
    margin: 10px 3px;
    font-size: 18px;
    cursor: pointer;

}

.info-title{
    margin-bottom: 15px;
    text-decoration: none;
    text-transform: none;

}
.info-desc{
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 24px;
    text-transform: none;
    text-decoration: none;
    list-style-type: none;
}

.info-desc span{
    font-weight: 300;
    font-size: 18px;
    color: white;

}
.info-img{
    max-width: 100%;
}

.nav-link{
    display: flex;
    justify-content: end;
    align-items: center;


}

.nav-next{
    color: white;
    text-decoration: none;
    background-color: #2a94b0;
    padding: 8px 5px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;


}
.nav-back{
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    background-color: #2a94b0;
    padding: 8px 5px;
    font-size: 20px;
    display:  flex;
    justify-content: center;
    align-items: end;
    border-radius: 2px;




}


canvas {
    opacity: 0.5;
     z-index: 2;

}


